--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12 (Debian 15.12-1.pgdg120+1)
-- Dumped by pg_dump version 15.12 (Debian 15.12-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assinaturas_pacotesubscricao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assinaturas_pacotesubscricao (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    tipo character varying(20) NOT NULL,
    descricao text NOT NULL,
    preco_mensal numeric(10,2) NOT NULL,
    preco_anual numeric(10,2) NOT NULL,
    max_usuarios integer NOT NULL,
    max_armazenamento_gb integer NOT NULL,
    recursos_incluidos jsonb NOT NULL,
    ativo boolean NOT NULL,
    periodo_teste_dias integer NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    atualizado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.assinaturas_pacotesubscricao OWNER TO postgres;

--
-- Name: assinaturas_pacotesubscricao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.assinaturas_pacotesubscricao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.assinaturas_pacotesubscricao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: assinaturas_pacotesubscricao_permissoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assinaturas_pacotesubscricao_permissoes (
    id bigint NOT NULL,
    pacotesubscricao_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.assinaturas_pacotesubscricao_permissoes OWNER TO postgres;

--
-- Name: assinaturas_pacotesubscricao_permissoes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.assinaturas_pacotesubscricao_permissoes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.assinaturas_pacotesubscricao_permissoes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: assinaturas_subscricao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assinaturas_subscricao (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    periodo character varying(10) NOT NULL,
    data_inicio timestamp with time zone NOT NULL,
    data_fim timestamp with time zone NOT NULL,
    ultima_fatura timestamp with time zone,
    proxima_fatura timestamp with time zone NOT NULL,
    preco numeric(10,2) NOT NULL,
    usuarios_ativos integer NOT NULL,
    notas text NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    atualizado_em timestamp with time zone NOT NULL,
    empresa_id bigint NOT NULL,
    pacote_id bigint NOT NULL
);


ALTER TABLE public.assinaturas_subscricao OWNER TO postgres;

--
-- Name: assinaturas_subscricao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.assinaturas_subscricao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.assinaturas_subscricao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientes_clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes_clientes (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    email character varying(100),
    telefone character varying(20),
    nif character varying(14),
    endereco text,
    observacao text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.clientes_clientes OWNER TO postgres;

--
-- Name: clientes_clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientes_clientes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientes_clientes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: estoque_controle_movimentacoesestoque; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_controle_movimentacoesestoque (
    id bigint NOT NULL,
    tipo character varying(10) NOT NULL,
    quantidade numeric(10,2) NOT NULL,
    data timestamp with time zone NOT NULL,
    observacao text,
    produto_id bigint NOT NULL
);


ALTER TABLE public.estoque_controle_movimentacoesestoque OWNER TO postgres;

--
-- Name: estoque_controle_movimentacoesestoque_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_controle_movimentacoesestoque ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_controle_movimentacoesestoque_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_estoqueprodutos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_estoqueprodutos (
    id bigint NOT NULL,
    nome character varying(255) NOT NULL,
    descricao text,
    preco numeric(10,2) NOT NULL,
    stock integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.estoque_estoqueprodutos OWNER TO postgres;

--
-- Name: estoque_estoqueprodutos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_estoqueprodutos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_estoqueprodutos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_movimentacoesestoque; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_movimentacoesestoque (
    id bigint NOT NULL,
    tipo character varying(10) NOT NULL,
    quantidade integer NOT NULL,
    data date NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    produto_id bigint NOT NULL
);


ALTER TABLE public.estoque_movimentacoesestoque OWNER TO postgres;

--
-- Name: estoque_movimentacoesestoque_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_movimentacoesestoque ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_movimentacoesestoque_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_produtos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_produtos (
    id bigint NOT NULL,
    nome character varying(255) NOT NULL,
    stock numeric(10,2) NOT NULL
);


ALTER TABLE public.estoque_produtos OWNER TO postgres;

--
-- Name: estoque_produtos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_produtos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_produtos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: faturacao_clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faturacao_clientes (
    id bigint NOT NULL,
    nome character varying(255) NOT NULL,
    nif character varying(20),
    endereco text,
    contato character varying(50),
    email character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.faturacao_clientes OWNER TO postgres;

--
-- Name: faturacao_clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.faturacao_clientes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.faturacao_clientes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: faturacao_faturas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faturacao_faturas (
    id bigint NOT NULL,
    data_emissao date NOT NULL,
    valor_total numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cliente_id bigint NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.faturacao_faturas OWNER TO postgres;

--
-- Name: faturacao_faturas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.faturacao_faturas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.faturacao_faturas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: faturacao_itensfatura; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faturacao_itensfatura (
    id bigint NOT NULL,
    quantidade integer NOT NULL,
    preco_unitario numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    fatura_id bigint NOT NULL,
    produto_id bigint NOT NULL
);


ALTER TABLE public.faturacao_itensfatura OWNER TO postgres;

--
-- Name: faturacao_itensfatura_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.faturacao_itensfatura ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.faturacao_itensfatura_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: faturacao_itensproforma; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faturacao_itensproforma (
    id bigint NOT NULL,
    quantidade integer NOT NULL,
    preco_unitario numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    produto_id bigint NOT NULL,
    proforma_id bigint NOT NULL
);


ALTER TABLE public.faturacao_itensproforma OWNER TO postgres;

--
-- Name: faturacao_itensproforma_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.faturacao_itensproforma ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.faturacao_itensproforma_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: faturacao_produtos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faturacao_produtos (
    id bigint NOT NULL,
    codigo character varying(50) NOT NULL,
    descricao character varying(255) NOT NULL,
    preco_unitario numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.faturacao_produtos OWNER TO postgres;

--
-- Name: faturacao_produtos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.faturacao_produtos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.faturacao_produtos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: faturacao_proformas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faturacao_proformas (
    id bigint NOT NULL,
    data_emissao date NOT NULL,
    valor_total numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cliente_id bigint NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.faturacao_proformas OWNER TO postgres;

--
-- Name: faturacao_proformas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.faturacao_proformas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.faturacao_proformas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reservas_mesas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservas_mesas (
    id bigint NOT NULL,
    numero character varying(10) NOT NULL,
    capacidade integer NOT NULL,
    status character varying(20) NOT NULL,
    descricao text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.reservas_mesas OWNER TO postgres;

--
-- Name: reservas_mesas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reservas_mesas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reservas_mesas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reservas_quartos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservas_quartos (
    id bigint NOT NULL,
    numero character varying(10) NOT NULL,
    tipo character varying(20) NOT NULL,
    preco_por_noite numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    descricao text,
    capacidade integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.reservas_quartos OWNER TO postgres;

--
-- Name: reservas_quartos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reservas_quartos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reservas_quartos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reservas_reservas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservas_reservas (
    id bigint NOT NULL,
    tipo character varying(20) NOT NULL,
    data_inicio date NOT NULL,
    data_fim date NOT NULL,
    status character varying(20) NOT NULL,
    observacao text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cliente_id bigint NOT NULL,
    empresa_id bigint NOT NULL,
    mesa_id bigint,
    quarto_id bigint
);


ALTER TABLE public.reservas_reservas OWNER TO postgres;

--
-- Name: reservas_reservas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reservas_reservas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reservas_reservas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rh_beneficiossubsidios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rh_beneficiossubsidios (
    id bigint NOT NULL,
    tipo character varying(50) NOT NULL,
    valor numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    folha_pagamento_id bigint NOT NULL
);


ALTER TABLE public.rh_beneficiossubsidios OWNER TO postgres;

--
-- Name: rh_beneficiossubsidios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rh_beneficiossubsidios ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rh_beneficiossubsidios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rh_folhapagamento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rh_folhapagamento (
    id bigint NOT NULL,
    data_pagamento date NOT NULL,
    salario_bruto numeric(10,2) NOT NULL,
    salario_liquido numeric(10,2) NOT NULL,
    inss_empresa numeric(10,2) NOT NULL,
    inss_funcionario numeric(10,2) NOT NULL,
    irt numeric(10,2) NOT NULL,
    horas_extras numeric(10,2) NOT NULL,
    bonus numeric(10,2) NOT NULL,
    comissoes numeric(10,2) NOT NULL,
    subsidios numeric(10,2) NOT NULL,
    faltas integer NOT NULL,
    atrasos integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    funcionario_id bigint NOT NULL
);


ALTER TABLE public.rh_folhapagamento OWNER TO postgres;

--
-- Name: rh_folhapagamento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rh_folhapagamento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rh_folhapagamento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rh_funcionarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rh_funcionarios (
    id bigint NOT NULL,
    nome character varying(255) NOT NULL,
    nif character varying(20) NOT NULL,
    cargo character varying(100),
    departamento character varying(100),
    data_admissao date NOT NULL,
    tipo_contrato character varying(50) NOT NULL,
    salario_base numeric(10,2) NOT NULL,
    banco character varying(100),
    nib character varying(34),
    status character varying(10) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.rh_funcionarios OWNER TO postgres;

--
-- Name: rh_funcionarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rh_funcionarios ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rh_funcionarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rh_recibossalario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rh_recibossalario (
    id bigint NOT NULL,
    arquivo_pdf character varying(100),
    data_envio timestamp with time zone,
    email_destinatario character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    folha_pagamento_id bigint NOT NULL
);


ALTER TABLE public.rh_recibossalario OWNER TO postgres;

--
-- Name: rh_recibossalario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rh_recibossalario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rh_recibossalario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_empresa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_empresa (
    id bigint NOT NULL,
    nome character varying(200) NOT NULL,
    nif character varying(20) NOT NULL,
    endereco text NOT NULL,
    telefone character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    website character varying(200) NOT NULL,
    logo character varying(100),
    ativa boolean NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_atualizacao timestamp with time zone NOT NULL
);


ALTER TABLE public.usuarios_empresa OWNER TO postgres;

--
-- Name: usuarios_empresa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios_empresa ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_empresa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_role (
    id bigint NOT NULL,
    nome character varying(50) NOT NULL,
    descricao text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.usuarios_role OWNER TO postgres;

--
-- Name: usuarios_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_role_permissoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_role_permissoes (
    id bigint NOT NULL,
    role_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.usuarios_role_permissoes OWNER TO postgres;

--
-- Name: usuarios_role_permissoes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios_role_permissoes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_role_permissoes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_useractivity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_useractivity (
    id bigint NOT NULL,
    action character varying(10) NOT NULL,
    path character varying(255) NOT NULL,
    ip_address inet NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.usuarios_useractivity OWNER TO postgres;

--
-- Name: usuarios_useractivity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios_useractivity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_useractivity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_usuario (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    tipo character varying(20) NOT NULL,
    telefone character varying(20) NOT NULL,
    nif character varying(11),
    cargo character varying(100) NOT NULL,
    foto character varying(100),
    ultimo_login timestamp with time zone,
    data_criacao timestamp with time zone NOT NULL,
    data_atualizacao timestamp with time zone NOT NULL,
    ativo boolean NOT NULL,
    is_active boolean NOT NULL,
    last_login_ip inet,
    empresa_id bigint,
    role_id bigint
);


ALTER TABLE public.usuarios_usuario OWNER TO postgres;

--
-- Name: usuarios_usuario_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_usuario_groups (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.usuarios_usuario_groups OWNER TO postgres;

--
-- Name: usuarios_usuario_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios_usuario_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_usuario_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios_usuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_usuario_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_usuario_user_permissions (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.usuarios_usuario_user_permissions OWNER TO postgres;

--
-- Name: usuarios_usuario_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios_usuario_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_usuario_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: assinaturas_pacotesubscricao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assinaturas_pacotesubscricao (id, nome, tipo, descricao, preco_mensal, preco_anual, max_usuarios, max_armazenamento_gb, recursos_incluidos, ativo, periodo_teste_dias, criado_em, atualizado_em) FROM stdin;
\.


--
-- Data for Name: assinaturas_pacotesubscricao_permissoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assinaturas_pacotesubscricao_permissoes (id, pacotesubscricao_id, permission_id) FROM stdin;
\.


--
-- Data for Name: assinaturas_subscricao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assinaturas_subscricao (id, status, periodo, data_inicio, data_fim, ultima_fatura, proxima_fatura, preco, usuarios_ativos, notas, criado_em, atualizado_em, empresa_id, pacote_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: clientes_clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientes_clientes (id, nome, email, telefone, nif, endereco, observacao, created_at, updated_at, empresa_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: estoque_controle_movimentacoesestoque; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_controle_movimentacoesestoque (id, tipo, quantidade, data, observacao, produto_id) FROM stdin;
\.


--
-- Data for Name: estoque_estoqueprodutos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_estoqueprodutos (id, nome, descricao, preco, stock, created_at, updated_at, empresa_id) FROM stdin;
\.


--
-- Data for Name: estoque_movimentacoesestoque; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_movimentacoesestoque (id, tipo, quantidade, data, created_at, updated_at, produto_id) FROM stdin;
\.


--
-- Data for Name: estoque_produtos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_produtos (id, nome, stock) FROM stdin;
\.


--
-- Data for Name: faturacao_clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faturacao_clientes (id, nome, nif, endereco, contato, email, created_at, updated_at, empresa_id) FROM stdin;
\.


--
-- Data for Name: faturacao_faturas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faturacao_faturas (id, data_emissao, valor_total, status, created_at, updated_at, cliente_id, empresa_id) FROM stdin;
\.


--
-- Data for Name: faturacao_itensfatura; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faturacao_itensfatura (id, quantidade, preco_unitario, subtotal, created_at, updated_at, fatura_id, produto_id) FROM stdin;
\.


--
-- Data for Name: faturacao_itensproforma; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faturacao_itensproforma (id, quantidade, preco_unitario, subtotal, created_at, updated_at, produto_id, proforma_id) FROM stdin;
\.


--
-- Data for Name: faturacao_produtos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faturacao_produtos (id, codigo, descricao, preco_unitario, created_at, updated_at, empresa_id) FROM stdin;
\.


--
-- Data for Name: faturacao_proformas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faturacao_proformas (id, data_emissao, valor_total, created_at, updated_at, cliente_id, empresa_id) FROM stdin;
\.


--
-- Data for Name: reservas_mesas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reservas_mesas (id, numero, capacidade, status, descricao, created_at, updated_at, empresa_id) FROM stdin;
\.


--
-- Data for Name: reservas_quartos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reservas_quartos (id, numero, tipo, preco_por_noite, status, descricao, capacidade, created_at, updated_at, empresa_id) FROM stdin;
\.


--
-- Data for Name: reservas_reservas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reservas_reservas (id, tipo, data_inicio, data_fim, status, observacao, created_at, updated_at, cliente_id, empresa_id, mesa_id, quarto_id) FROM stdin;
\.


--
-- Data for Name: rh_beneficiossubsidios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rh_beneficiossubsidios (id, tipo, valor, created_at, updated_at, folha_pagamento_id) FROM stdin;
\.


--
-- Data for Name: rh_folhapagamento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rh_folhapagamento (id, data_pagamento, salario_bruto, salario_liquido, inss_empresa, inss_funcionario, irt, horas_extras, bonus, comissoes, subsidios, faltas, atrasos, created_at, updated_at, funcionario_id) FROM stdin;
\.


--
-- Data for Name: rh_funcionarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rh_funcionarios (id, nome, nif, cargo, departamento, data_admissao, tipo_contrato, salario_base, banco, nib, status, created_at, updated_at, empresa_id) FROM stdin;
\.


--
-- Data for Name: rh_recibossalario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rh_recibossalario (id, arquivo_pdf, data_envio, email_destinatario, created_at, updated_at, folha_pagamento_id) FROM stdin;
\.


--
-- Data for Name: usuarios_empresa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios_empresa (id, nome, nif, endereco, telefone, email, website, logo, ativa, data_criacao, data_atualizacao) FROM stdin;
\.


--
-- Data for Name: usuarios_role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios_role (id, nome, descricao, created_at, updated_at, empresa_id) FROM stdin;
\.


--
-- Data for Name: usuarios_role_permissoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios_role_permissoes (id, role_id, permission_id) FROM stdin;
\.


--
-- Data for Name: usuarios_useractivity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios_useractivity (id, action, path, ip_address, "timestamp", user_id) FROM stdin;
\.


--
-- Data for Name: usuarios_usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios_usuario (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, date_joined, tipo, telefone, nif, cargo, foto, ultimo_login, data_criacao, data_atualizacao, ativo, is_active, last_login_ip, empresa_id, role_id) FROM stdin;
1	argon2$argon2id$v=19$m=102400,t=2,p=8$RzFhTjh1eGo4MmdCMUpPbzA0ZkxrRQ$jU+mnaWd4Sc7ZsUmzvIIJbtNFnNfP41b/lKbpaGU6D0	2025-03-25 01:43:11.895384+00	t	admin			admin@example.com	t	2025-03-25 01:39:54.131458+00	funcionario		\N			\N	2025-03-25 01:39:54.132067+00	2025-03-25 01:40:09.311891+00	t	t	\N	\N	\N
\.


--
-- Data for Name: usuarios_usuario_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios_usuario_groups (id, usuario_id, group_id) FROM stdin;
\.


--
-- Data for Name: usuarios_usuario_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios_usuario_user_permissions (id, usuario_id, permission_id) FROM stdin;
\.


--
-- Name: assinaturas_pacotesubscricao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assinaturas_pacotesubscricao_id_seq', 1, false);


--
-- Name: assinaturas_pacotesubscricao_permissoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assinaturas_pacotesubscricao_permissoes_id_seq', 1, false);


--
-- Name: assinaturas_subscricao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assinaturas_subscricao_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 120, true);


--
-- Name: clientes_clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientes_clientes_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 30, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 28, true);


--
-- Name: estoque_controle_movimentacoesestoque_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_controle_movimentacoesestoque_id_seq', 1, false);


--
-- Name: estoque_estoqueprodutos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_estoqueprodutos_id_seq', 1, false);


--
-- Name: estoque_movimentacoesestoque_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_movimentacoesestoque_id_seq', 1, false);


--
-- Name: estoque_produtos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_produtos_id_seq', 1, false);


--
-- Name: faturacao_clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.faturacao_clientes_id_seq', 1, false);


--
-- Name: faturacao_faturas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.faturacao_faturas_id_seq', 1, false);


--
-- Name: faturacao_itensfatura_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.faturacao_itensfatura_id_seq', 1, false);


--
-- Name: faturacao_itensproforma_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.faturacao_itensproforma_id_seq', 1, false);


--
-- Name: faturacao_produtos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.faturacao_produtos_id_seq', 1, false);


--
-- Name: faturacao_proformas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.faturacao_proformas_id_seq', 1, false);


--
-- Name: reservas_mesas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reservas_mesas_id_seq', 1, false);


--
-- Name: reservas_quartos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reservas_quartos_id_seq', 1, false);


--
-- Name: reservas_reservas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reservas_reservas_id_seq', 1, false);


--
-- Name: rh_beneficiossubsidios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rh_beneficiossubsidios_id_seq', 1, false);


--
-- Name: rh_folhapagamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rh_folhapagamento_id_seq', 1, false);


--
-- Name: rh_funcionarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rh_funcionarios_id_seq', 1, false);


--
-- Name: rh_recibossalario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rh_recibossalario_id_seq', 1, false);


--
-- Name: usuarios_empresa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_empresa_id_seq', 1, false);


--
-- Name: usuarios_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_role_id_seq', 1, false);


--
-- Name: usuarios_role_permissoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_role_permissoes_id_seq', 1, false);


--
-- Name: usuarios_useractivity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_useractivity_id_seq', 1, false);


--
-- Name: usuarios_usuario_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_usuario_groups_id_seq', 1, false);


--
-- Name: usuarios_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_usuario_id_seq', 1, true);


--
-- Name: usuarios_usuario_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_usuario_user_permissions_id_seq', 1, false);


--
-- Name: assinaturas_pacotesubscricao_permissoes assinaturas_pacotesubscr_pacotesubscricao_id_perm_91e2bd7f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assinaturas_pacotesubscricao_permissoes
    ADD CONSTRAINT assinaturas_pacotesubscr_pacotesubscricao_id_perm_91e2bd7f_uniq UNIQUE (pacotesubscricao_id, permission_id);


--
-- Name: assinaturas_pacotesubscricao assinaturas_pacotesubscricao_nome_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assinaturas_pacotesubscricao
    ADD CONSTRAINT assinaturas_pacotesubscricao_nome_key UNIQUE (nome);


--
-- Name: assinaturas_pacotesubscricao_permissoes assinaturas_pacotesubscricao_permissoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assinaturas_pacotesubscricao_permissoes
    ADD CONSTRAINT assinaturas_pacotesubscricao_permissoes_pkey PRIMARY KEY (id);


--
-- Name: assinaturas_pacotesubscricao assinaturas_pacotesubscricao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assinaturas_pacotesubscricao
    ADD CONSTRAINT assinaturas_pacotesubscricao_pkey PRIMARY KEY (id);


--
-- Name: assinaturas_subscricao assinaturas_subscricao_empresa_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assinaturas_subscricao
    ADD CONSTRAINT assinaturas_subscricao_empresa_id_key UNIQUE (empresa_id);


--
-- Name: assinaturas_subscricao assinaturas_subscricao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assinaturas_subscricao
    ADD CONSTRAINT assinaturas_subscricao_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: clientes_clientes clientes_clientes_empresa_id_nif_12471696_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_clientes
    ADD CONSTRAINT clientes_clientes_empresa_id_nif_12471696_uniq UNIQUE (empresa_id, nif);


--
-- Name: clientes_clientes clientes_clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_clientes
    ADD CONSTRAINT clientes_clientes_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: estoque_controle_movimentacoesestoque estoque_controle_movimentacoesestoque_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_controle_movimentacoesestoque
    ADD CONSTRAINT estoque_controle_movimentacoesestoque_pkey PRIMARY KEY (id);


--
-- Name: estoque_estoqueprodutos estoque_estoqueprodutos_empresa_id_nome_8773c205_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_estoqueprodutos
    ADD CONSTRAINT estoque_estoqueprodutos_empresa_id_nome_8773c205_uniq UNIQUE (empresa_id, nome);


--
-- Name: estoque_estoqueprodutos estoque_estoqueprodutos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_estoqueprodutos
    ADD CONSTRAINT estoque_estoqueprodutos_pkey PRIMARY KEY (id);


--
-- Name: estoque_movimentacoesestoque estoque_movimentacoesestoque_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_movimentacoesestoque
    ADD CONSTRAINT estoque_movimentacoesestoque_pkey PRIMARY KEY (id);


--
-- Name: estoque_produtos estoque_produtos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_produtos
    ADD CONSTRAINT estoque_produtos_pkey PRIMARY KEY (id);


--
-- Name: faturacao_clientes faturacao_clientes_empresa_id_nif_a7a5c612_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_clientes
    ADD CONSTRAINT faturacao_clientes_empresa_id_nif_a7a5c612_uniq UNIQUE (empresa_id, nif);


--
-- Name: faturacao_clientes faturacao_clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_clientes
    ADD CONSTRAINT faturacao_clientes_pkey PRIMARY KEY (id);


--
-- Name: faturacao_faturas faturacao_faturas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_faturas
    ADD CONSTRAINT faturacao_faturas_pkey PRIMARY KEY (id);


--
-- Name: faturacao_itensfatura faturacao_itensfatura_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_itensfatura
    ADD CONSTRAINT faturacao_itensfatura_pkey PRIMARY KEY (id);


--
-- Name: faturacao_itensproforma faturacao_itensproforma_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_itensproforma
    ADD CONSTRAINT faturacao_itensproforma_pkey PRIMARY KEY (id);


--
-- Name: faturacao_produtos faturacao_produtos_empresa_id_codigo_ba6ccff4_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_produtos
    ADD CONSTRAINT faturacao_produtos_empresa_id_codigo_ba6ccff4_uniq UNIQUE (empresa_id, codigo);


--
-- Name: faturacao_produtos faturacao_produtos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_produtos
    ADD CONSTRAINT faturacao_produtos_pkey PRIMARY KEY (id);


--
-- Name: faturacao_proformas faturacao_proformas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_proformas
    ADD CONSTRAINT faturacao_proformas_pkey PRIMARY KEY (id);


--
-- Name: reservas_mesas reservas_mesas_empresa_id_numero_fa989a35_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_mesas
    ADD CONSTRAINT reservas_mesas_empresa_id_numero_fa989a35_uniq UNIQUE (empresa_id, numero);


--
-- Name: reservas_mesas reservas_mesas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_mesas
    ADD CONSTRAINT reservas_mesas_pkey PRIMARY KEY (id);


--
-- Name: reservas_quartos reservas_quartos_empresa_id_numero_d5c553cb_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_quartos
    ADD CONSTRAINT reservas_quartos_empresa_id_numero_d5c553cb_uniq UNIQUE (empresa_id, numero);


--
-- Name: reservas_quartos reservas_quartos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_quartos
    ADD CONSTRAINT reservas_quartos_pkey PRIMARY KEY (id);


--
-- Name: reservas_reservas reservas_reservas_empresa_id_mesa_id_data__73d227eb_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_reservas
    ADD CONSTRAINT reservas_reservas_empresa_id_mesa_id_data__73d227eb_uniq UNIQUE (empresa_id, mesa_id, data_inicio, data_fim);


--
-- Name: reservas_reservas reservas_reservas_empresa_id_quarto_id_dat_c49cdf6e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_reservas
    ADD CONSTRAINT reservas_reservas_empresa_id_quarto_id_dat_c49cdf6e_uniq UNIQUE (empresa_id, quarto_id, data_inicio, data_fim);


--
-- Name: reservas_reservas reservas_reservas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_reservas
    ADD CONSTRAINT reservas_reservas_pkey PRIMARY KEY (id);


--
-- Name: rh_beneficiossubsidios rh_beneficiossubsidios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_beneficiossubsidios
    ADD CONSTRAINT rh_beneficiossubsidios_pkey PRIMARY KEY (id);


--
-- Name: rh_folhapagamento rh_folhapagamento_funcionario_id_data_pagamento_44c46993_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_folhapagamento
    ADD CONSTRAINT rh_folhapagamento_funcionario_id_data_pagamento_44c46993_uniq UNIQUE (funcionario_id, data_pagamento);


--
-- Name: rh_folhapagamento rh_folhapagamento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_folhapagamento
    ADD CONSTRAINT rh_folhapagamento_pkey PRIMARY KEY (id);


--
-- Name: rh_funcionarios rh_funcionarios_empresa_id_nif_e9a2959d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_funcionarios
    ADD CONSTRAINT rh_funcionarios_empresa_id_nif_e9a2959d_uniq UNIQUE (empresa_id, nif);


--
-- Name: rh_funcionarios rh_funcionarios_nif_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_funcionarios
    ADD CONSTRAINT rh_funcionarios_nif_key UNIQUE (nif);


--
-- Name: rh_funcionarios rh_funcionarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_funcionarios
    ADD CONSTRAINT rh_funcionarios_pkey PRIMARY KEY (id);


--
-- Name: rh_recibossalario rh_recibossalario_folha_pagamento_id_7a058b39_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_recibossalario
    ADD CONSTRAINT rh_recibossalario_folha_pagamento_id_7a058b39_uniq UNIQUE (folha_pagamento_id);


--
-- Name: rh_recibossalario rh_recibossalario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_recibossalario
    ADD CONSTRAINT rh_recibossalario_pkey PRIMARY KEY (id);


--
-- Name: usuarios_empresa usuarios_empresa_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_empresa
    ADD CONSTRAINT usuarios_empresa_email_key UNIQUE (email);


--
-- Name: usuarios_empresa usuarios_empresa_nif_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_empresa
    ADD CONSTRAINT usuarios_empresa_nif_key UNIQUE (nif);


--
-- Name: usuarios_empresa usuarios_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_empresa
    ADD CONSTRAINT usuarios_empresa_pkey PRIMARY KEY (id);


--
-- Name: usuarios_role usuarios_role_empresa_id_nome_8bd4f718_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_role
    ADD CONSTRAINT usuarios_role_empresa_id_nome_8bd4f718_uniq UNIQUE (empresa_id, nome);


--
-- Name: usuarios_role usuarios_role_nome_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_role
    ADD CONSTRAINT usuarios_role_nome_key UNIQUE (nome);


--
-- Name: usuarios_role_permissoes usuarios_role_permissoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_role_permissoes
    ADD CONSTRAINT usuarios_role_permissoes_pkey PRIMARY KEY (id);


--
-- Name: usuarios_role_permissoes usuarios_role_permissoes_role_id_permission_id_26757067_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_role_permissoes
    ADD CONSTRAINT usuarios_role_permissoes_role_id_permission_id_26757067_uniq UNIQUE (role_id, permission_id);


--
-- Name: usuarios_role usuarios_role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_role
    ADD CONSTRAINT usuarios_role_pkey PRIMARY KEY (id);


--
-- Name: usuarios_useractivity usuarios_useractivity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_useractivity
    ADD CONSTRAINT usuarios_useractivity_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario usuarios_usuario_empresa_id_username_email_33dbbb5a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_empresa_id_username_email_33dbbb5a_uniq UNIQUE (empresa_id, username, email);


--
-- Name: usuarios_usuario_groups usuarios_usuario_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_groups_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario_groups usuarios_usuario_groups_usuario_id_group_id_4ed5b09e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_groups_usuario_id_group_id_4ed5b09e_uniq UNIQUE (usuario_id, group_id);


--
-- Name: usuarios_usuario usuarios_usuario_nif_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_nif_key UNIQUE (nif);


--
-- Name: usuarios_usuario usuarios_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_user_pe_usuario_id_permission_id_217cadcd_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_user_pe_usuario_id_permission_id_217cadcd_uniq UNIQUE (usuario_id, permission_id);


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario usuarios_usuario_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_username_key UNIQUE (username);


--
-- Name: assinaturas_pacotesubscric_pacotesubscricao_id_f158cd98; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX assinaturas_pacotesubscric_pacotesubscricao_id_f158cd98 ON public.assinaturas_pacotesubscricao_permissoes USING btree (pacotesubscricao_id);


--
-- Name: assinaturas_pacotesubscricao_nome_422c8445_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX assinaturas_pacotesubscricao_nome_422c8445_like ON public.assinaturas_pacotesubscricao USING btree (nome varchar_pattern_ops);


--
-- Name: assinaturas_pacotesubscricao_permissoes_permission_id_d3a34f56; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX assinaturas_pacotesubscricao_permissoes_permission_id_d3a34f56 ON public.assinaturas_pacotesubscricao_permissoes USING btree (permission_id);


--
-- Name: assinaturas_subscricao_pacote_id_975a352c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX assinaturas_subscricao_pacote_id_975a352c ON public.assinaturas_subscricao USING btree (pacote_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: clientes_clientes_empresa_id_b04b2164; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientes_clientes_empresa_id_b04b2164 ON public.clientes_clientes USING btree (empresa_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: estoque_controle_movimentacoesestoque_produto_id_cd7bb19c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_controle_movimentacoesestoque_produto_id_cd7bb19c ON public.estoque_controle_movimentacoesestoque USING btree (produto_id);


--
-- Name: estoque_estoqueprodutos_empresa_id_b40cdce3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_estoqueprodutos_empresa_id_b40cdce3 ON public.estoque_estoqueprodutos USING btree (empresa_id);


--
-- Name: estoque_movimentacoesestoque_produto_id_7f450ec4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_movimentacoesestoque_produto_id_7f450ec4 ON public.estoque_movimentacoesestoque USING btree (produto_id);


--
-- Name: faturacao_clientes_empresa_id_2c9996d7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_clientes_empresa_id_2c9996d7 ON public.faturacao_clientes USING btree (empresa_id);


--
-- Name: faturacao_f_data_em_8bef74_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_f_data_em_8bef74_idx ON public.faturacao_faturas USING btree (data_emissao);


--
-- Name: faturacao_f_empresa_a33ab1_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_f_empresa_a33ab1_idx ON public.faturacao_faturas USING btree (empresa_id, cliente_id, status);


--
-- Name: faturacao_faturas_cliente_id_ee0a371c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_faturas_cliente_id_ee0a371c ON public.faturacao_faturas USING btree (cliente_id);


--
-- Name: faturacao_faturas_empresa_id_b354e8df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_faturas_empresa_id_b354e8df ON public.faturacao_faturas USING btree (empresa_id);


--
-- Name: faturacao_itensfatura_fatura_id_7b612324; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_itensfatura_fatura_id_7b612324 ON public.faturacao_itensfatura USING btree (fatura_id);


--
-- Name: faturacao_itensfatura_produto_id_639d4962; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_itensfatura_produto_id_639d4962 ON public.faturacao_itensfatura USING btree (produto_id);


--
-- Name: faturacao_itensproforma_produto_id_863c44b6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_itensproforma_produto_id_863c44b6 ON public.faturacao_itensproforma USING btree (produto_id);


--
-- Name: faturacao_itensproforma_proforma_id_802ef067; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_itensproforma_proforma_id_802ef067 ON public.faturacao_itensproforma USING btree (proforma_id);


--
-- Name: faturacao_p_data_em_0a841a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_p_data_em_0a841a_idx ON public.faturacao_proformas USING btree (data_emissao);


--
-- Name: faturacao_p_empresa_c2abe9_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_p_empresa_c2abe9_idx ON public.faturacao_proformas USING btree (empresa_id, cliente_id);


--
-- Name: faturacao_produtos_empresa_id_f68101df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_produtos_empresa_id_f68101df ON public.faturacao_produtos USING btree (empresa_id);


--
-- Name: faturacao_proformas_cliente_id_d709d6e1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_proformas_cliente_id_d709d6e1 ON public.faturacao_proformas USING btree (cliente_id);


--
-- Name: faturacao_proformas_empresa_id_57a6fda6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX faturacao_proformas_empresa_id_57a6fda6 ON public.faturacao_proformas USING btree (empresa_id);


--
-- Name: reservas_mesas_empresa_id_095f0388; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reservas_mesas_empresa_id_095f0388 ON public.reservas_mesas USING btree (empresa_id);


--
-- Name: reservas_quartos_empresa_id_1fd2eebf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reservas_quartos_empresa_id_1fd2eebf ON public.reservas_quartos USING btree (empresa_id);


--
-- Name: reservas_reservas_cliente_id_26aef586; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reservas_reservas_cliente_id_26aef586 ON public.reservas_reservas USING btree (cliente_id);


--
-- Name: reservas_reservas_empresa_id_9c1b6333; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reservas_reservas_empresa_id_9c1b6333 ON public.reservas_reservas USING btree (empresa_id);


--
-- Name: reservas_reservas_mesa_id_a18dbcb7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reservas_reservas_mesa_id_a18dbcb7 ON public.reservas_reservas USING btree (mesa_id);


--
-- Name: reservas_reservas_quarto_id_b3c013eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reservas_reservas_quarto_id_b3c013eb ON public.reservas_reservas USING btree (quarto_id);


--
-- Name: rh_beneficiossubsidios_folha_pagamento_id_a8028959; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rh_beneficiossubsidios_folha_pagamento_id_a8028959 ON public.rh_beneficiossubsidios USING btree (folha_pagamento_id);


--
-- Name: rh_folhapagamento_funcionario_id_d53a8150; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rh_folhapagamento_funcionario_id_d53a8150 ON public.rh_folhapagamento USING btree (funcionario_id);


--
-- Name: rh_funcionarios_empresa_id_c3690651; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rh_funcionarios_empresa_id_c3690651 ON public.rh_funcionarios USING btree (empresa_id);


--
-- Name: rh_funcionarios_nif_7522b201_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rh_funcionarios_nif_7522b201_like ON public.rh_funcionarios USING btree (nif varchar_pattern_ops);


--
-- Name: rh_recibossalario_folha_pagamento_id_7a058b39; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rh_recibossalario_folha_pagamento_id_7a058b39 ON public.rh_recibossalario USING btree (folha_pagamento_id);


--
-- Name: usuarios_empresa_email_d3881962_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_empresa_email_d3881962_like ON public.usuarios_empresa USING btree (email varchar_pattern_ops);


--
-- Name: usuarios_empresa_nif_da32e557_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_empresa_nif_da32e557_like ON public.usuarios_empresa USING btree (nif varchar_pattern_ops);


--
-- Name: usuarios_role_empresa_id_ad908706; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_role_empresa_id_ad908706 ON public.usuarios_role USING btree (empresa_id);


--
-- Name: usuarios_role_nome_a00eb00b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_role_nome_a00eb00b_like ON public.usuarios_role USING btree (nome varchar_pattern_ops);


--
-- Name: usuarios_role_permissoes_permission_id_c85bae94; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_role_permissoes_permission_id_c85bae94 ON public.usuarios_role_permissoes USING btree (permission_id);


--
-- Name: usuarios_role_permissoes_role_id_5c1717b6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_role_permissoes_role_id_5c1717b6 ON public.usuarios_role_permissoes USING btree (role_id);


--
-- Name: usuarios_useractivity_user_id_93b623df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_useractivity_user_id_93b623df ON public.usuarios_useractivity USING btree (user_id);


--
-- Name: usuarios_usuario_empresa_id_03e3ccb9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_usuario_empresa_id_03e3ccb9 ON public.usuarios_usuario USING btree (empresa_id);


--
-- Name: usuarios_usuario_groups_group_id_e77f6dcf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_usuario_groups_group_id_e77f6dcf ON public.usuarios_usuario_groups USING btree (group_id);


--
-- Name: usuarios_usuario_groups_usuario_id_7a34077f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_usuario_groups_usuario_id_7a34077f ON public.usuarios_usuario_groups USING btree (usuario_id);


--
-- Name: usuarios_usuario_nif_22e070ea_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_usuario_nif_22e070ea_like ON public.usuarios_usuario USING btree (nif varchar_pattern_ops);


--
-- Name: usuarios_usuario_role_id_a504dffd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_usuario_role_id_a504dffd ON public.usuarios_usuario USING btree (role_id);


--
-- Name: usuarios_usuario_user_permissions_permission_id_4e5c0f2f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_usuario_user_permissions_permission_id_4e5c0f2f ON public.usuarios_usuario_user_permissions USING btree (permission_id);


--
-- Name: usuarios_usuario_user_permissions_usuario_id_60aeea80; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_usuario_user_permissions_usuario_id_60aeea80 ON public.usuarios_usuario_user_permissions USING btree (usuario_id);


--
-- Name: usuarios_usuario_username_be9def2b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_usuario_username_be9def2b_like ON public.usuarios_usuario USING btree (username varchar_pattern_ops);


--
-- Name: assinaturas_pacotesubscricao_permissoes assinaturas_pacotesu_pacotesubscricao_id_f158cd98_fk_assinatur; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assinaturas_pacotesubscricao_permissoes
    ADD CONSTRAINT assinaturas_pacotesu_pacotesubscricao_id_f158cd98_fk_assinatur FOREIGN KEY (pacotesubscricao_id) REFERENCES public.assinaturas_pacotesubscricao(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: assinaturas_pacotesubscricao_permissoes assinaturas_pacotesu_permission_id_d3a34f56_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assinaturas_pacotesubscricao_permissoes
    ADD CONSTRAINT assinaturas_pacotesu_permission_id_d3a34f56_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: assinaturas_subscricao assinaturas_subscric_empresa_id_ee72778e_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assinaturas_subscricao
    ADD CONSTRAINT assinaturas_subscric_empresa_id_ee72778e_fk_usuarios_ FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: assinaturas_subscricao assinaturas_subscric_pacote_id_975a352c_fk_assinatur; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assinaturas_subscricao
    ADD CONSTRAINT assinaturas_subscric_pacote_id_975a352c_fk_assinatur FOREIGN KEY (pacote_id) REFERENCES public.assinaturas_pacotesubscricao(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientes_clientes clientes_clientes_empresa_id_b04b2164_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes_clientes
    ADD CONSTRAINT clientes_clientes_empresa_id_b04b2164_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id FOREIGN KEY (user_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_controle_movimentacoesestoque estoque_controle_mov_produto_id_cd7bb19c_fk_estoque_e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_controle_movimentacoesestoque
    ADD CONSTRAINT estoque_controle_mov_produto_id_cd7bb19c_fk_estoque_e FOREIGN KEY (produto_id) REFERENCES public.estoque_estoqueprodutos(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_estoqueprodutos estoque_estoqueprodu_empresa_id_b40cdce3_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_estoqueprodutos
    ADD CONSTRAINT estoque_estoqueprodu_empresa_id_b40cdce3_fk_usuarios_ FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_movimentacoesestoque estoque_movimentacoe_produto_id_7f450ec4_fk_estoque_e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_movimentacoesestoque
    ADD CONSTRAINT estoque_movimentacoe_produto_id_7f450ec4_fk_estoque_e FOREIGN KEY (produto_id) REFERENCES public.estoque_estoqueprodutos(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faturacao_clientes faturacao_clientes_empresa_id_2c9996d7_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_clientes
    ADD CONSTRAINT faturacao_clientes_empresa_id_2c9996d7_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faturacao_faturas faturacao_faturas_cliente_id_ee0a371c_fk_faturacao_clientes_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_faturas
    ADD CONSTRAINT faturacao_faturas_cliente_id_ee0a371c_fk_faturacao_clientes_id FOREIGN KEY (cliente_id) REFERENCES public.faturacao_clientes(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faturacao_faturas faturacao_faturas_empresa_id_b354e8df_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_faturas
    ADD CONSTRAINT faturacao_faturas_empresa_id_b354e8df_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faturacao_itensfatura faturacao_itensfatur_fatura_id_7b612324_fk_faturacao; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_itensfatura
    ADD CONSTRAINT faturacao_itensfatur_fatura_id_7b612324_fk_faturacao FOREIGN KEY (fatura_id) REFERENCES public.faturacao_faturas(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faturacao_itensfatura faturacao_itensfatur_produto_id_639d4962_fk_faturacao; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_itensfatura
    ADD CONSTRAINT faturacao_itensfatur_produto_id_639d4962_fk_faturacao FOREIGN KEY (produto_id) REFERENCES public.faturacao_produtos(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faturacao_itensproforma faturacao_itensprofo_produto_id_863c44b6_fk_faturacao; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_itensproforma
    ADD CONSTRAINT faturacao_itensprofo_produto_id_863c44b6_fk_faturacao FOREIGN KEY (produto_id) REFERENCES public.faturacao_produtos(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faturacao_itensproforma faturacao_itensprofo_proforma_id_802ef067_fk_faturacao; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_itensproforma
    ADD CONSTRAINT faturacao_itensprofo_proforma_id_802ef067_fk_faturacao FOREIGN KEY (proforma_id) REFERENCES public.faturacao_proformas(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faturacao_produtos faturacao_produtos_empresa_id_f68101df_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_produtos
    ADD CONSTRAINT faturacao_produtos_empresa_id_f68101df_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faturacao_proformas faturacao_proformas_cliente_id_d709d6e1_fk_faturacao; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_proformas
    ADD CONSTRAINT faturacao_proformas_cliente_id_d709d6e1_fk_faturacao FOREIGN KEY (cliente_id) REFERENCES public.faturacao_clientes(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faturacao_proformas faturacao_proformas_empresa_id_57a6fda6_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faturacao_proformas
    ADD CONSTRAINT faturacao_proformas_empresa_id_57a6fda6_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reservas_mesas reservas_mesas_empresa_id_095f0388_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_mesas
    ADD CONSTRAINT reservas_mesas_empresa_id_095f0388_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reservas_quartos reservas_quartos_empresa_id_1fd2eebf_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_quartos
    ADD CONSTRAINT reservas_quartos_empresa_id_1fd2eebf_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reservas_reservas reservas_reservas_cliente_id_26aef586_fk_clientes_clientes_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_reservas
    ADD CONSTRAINT reservas_reservas_cliente_id_26aef586_fk_clientes_clientes_id FOREIGN KEY (cliente_id) REFERENCES public.clientes_clientes(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reservas_reservas reservas_reservas_empresa_id_9c1b6333_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_reservas
    ADD CONSTRAINT reservas_reservas_empresa_id_9c1b6333_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reservas_reservas reservas_reservas_mesa_id_a18dbcb7_fk_reservas_mesas_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_reservas
    ADD CONSTRAINT reservas_reservas_mesa_id_a18dbcb7_fk_reservas_mesas_id FOREIGN KEY (mesa_id) REFERENCES public.reservas_mesas(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reservas_reservas reservas_reservas_quarto_id_b3c013eb_fk_reservas_quartos_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservas_reservas
    ADD CONSTRAINT reservas_reservas_quarto_id_b3c013eb_fk_reservas_quartos_id FOREIGN KEY (quarto_id) REFERENCES public.reservas_quartos(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rh_beneficiossubsidios rh_beneficiossubsidi_folha_pagamento_id_a8028959_fk_rh_folhap; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_beneficiossubsidios
    ADD CONSTRAINT rh_beneficiossubsidi_folha_pagamento_id_a8028959_fk_rh_folhap FOREIGN KEY (folha_pagamento_id) REFERENCES public.rh_folhapagamento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rh_folhapagamento rh_folhapagamento_funcionario_id_d53a8150_fk_rh_funcionarios_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_folhapagamento
    ADD CONSTRAINT rh_folhapagamento_funcionario_id_d53a8150_fk_rh_funcionarios_id FOREIGN KEY (funcionario_id) REFERENCES public.rh_funcionarios(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rh_funcionarios rh_funcionarios_empresa_id_c3690651_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_funcionarios
    ADD CONSTRAINT rh_funcionarios_empresa_id_c3690651_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rh_recibossalario rh_recibossalario_folha_pagamento_id_7a058b39_fk_rh_folhap; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rh_recibossalario
    ADD CONSTRAINT rh_recibossalario_folha_pagamento_id_7a058b39_fk_rh_folhap FOREIGN KEY (folha_pagamento_id) REFERENCES public.rh_folhapagamento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_role usuarios_role_empresa_id_ad908706_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_role
    ADD CONSTRAINT usuarios_role_empresa_id_ad908706_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_role_permissoes usuarios_role_permis_permission_id_c85bae94_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_role_permissoes
    ADD CONSTRAINT usuarios_role_permis_permission_id_c85bae94_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_role_permissoes usuarios_role_permissoes_role_id_5c1717b6_fk_usuarios_role_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_role_permissoes
    ADD CONSTRAINT usuarios_role_permissoes_role_id_5c1717b6_fk_usuarios_role_id FOREIGN KEY (role_id) REFERENCES public.usuarios_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_useractivity usuarios_useractivity_user_id_93b623df_fk_usuarios_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_useractivity
    ADD CONSTRAINT usuarios_useractivity_user_id_93b623df_fk_usuarios_usuario_id FOREIGN KEY (user_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario usuarios_usuario_empresa_id_03e3ccb9_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_empresa_id_03e3ccb9_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_groups usuarios_usuario_gro_usuario_id_7a34077f_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_gro_usuario_id_7a34077f_fk_usuarios_ FOREIGN KEY (usuario_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_groups usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario usuarios_usuario_role_id_a504dffd_fk_usuarios_role_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_role_id_a504dffd_fk_usuarios_role_id FOREIGN KEY (role_id) REFERENCES public.usuarios_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_use_usuario_id_60aeea80_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_use_usuario_id_60aeea80_fk_usuarios_ FOREIGN KEY (usuario_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

